-var ogtitle='來實驗看看'
-var ogurl='www.aiisnewsexy'
-var ogimage='https://github.com/bigyear26/forGAplay/raw/gh-pages/img/download01.jpg'
-var ogdc='還沒弄啊啊啊啊啊啊'
-var title=ogtitle

doctype html
html(lang="en")
    head
        include includes/_headBasic.html
        include includes/fbOgtagtest
        title #{title}
    body
        include includes/_bodyTag01.html
        h1 og實驗
        h2 副標題
        |
        |
        a.btn.btn-primary(role="button" href="reg.html") 開始註冊
        |
        |
        a.btn.btn-primary(role="button" href="checkout.html") 開始結帳
        div.longBoard
            p hi hi