doctype html
html(lang="en")
    head
        title #{title}
        |
        |
        include includes/_headBasic.html
        include includes/_fbOgtag
        script(src="function01.js")
        //下面是告訴你繁體中文版本網址是哪一個特定網址
        link(rel=alternate hreflang="zh-tw" href='http://www.aiisnewsexy.com')
    body
        include includes/_bodyTag01.html

        div.jumbotron
            h1.display-4 helloYO
            a(href="test02.html") 到test02
            a(href="#m01") 點我衝到錨點
            a(onclick="m01();return false;") 點我更改毛點文字...

            p.lead hihi~
            hr.my-4
            p 說一些話
            a.btn.btn-primary.btn-lg(role="button" href="reg.html") 開始註冊
            |
            |
            a.btn.btn-primary.btn-lg(role="button" href="checkout.html") 開始結帳


        div(itemscope itemtype="http://schema.org/Person")
            h2(itemprop="name") 王家衛
            p(itemprop='description') 他是一個非常好的導演
        div
            //include includes/_googleSearch.html
        div.longBoard
            p hi 一段文字ㄊ
            a#m01.btn.btn-primary 錨點一
