//doctype html
//html
//    head
//        include _head.html
//    body
//        h1 我的网站
//        p 欢迎来到我这简陋得不能再简陋的网站。
//        p 幹
//        p 好靠杯啦


doctype html
html
    include index.html
    body
        h1 我的网站h
        p 欢迎来到我这简陋得不能再简陋的网站。
        include includes/foot.pug
